body{
    background-color: #d9b3ff;
    font-family: Consolas;
}


button{
    border-radius: 12px;
    font-family: Consolas;
    border: none;
    font-size: 15px;
    font-weight: bold;
    width:75px;
    height: 50px;
    margin: 8px;
    overflow: hidden;
}

div{
    overflow: hidden;
    height: auto;
    width: auto;

}
div.clear{
    clear: both;
}

#slika{
    height: 100%;
    width: 50%;
}

#tekst{
    background-color: #d1d1e0;
    text-align: center;
    font-size: 25px;
}

#dugme{
   background-color: #b380ff;
    height: 50px;
    width: auto;
}